<ActionBar class="action-bar">
    <ActionItem text="Done" (tap)="addDone()" ios.position="right"></ActionItem>
    <Label class="action-bar-title" text="Enter Topic Information"></Label>
</ActionBar>

<!-- WITH THIS Code ,I GOT THE DEFAULT BEhavior, NOT THE JSON BEHEVIOR -->
<GridLayout class="page page-content">
    <StackLayout height="100%">0
        <RadDataForm [source]="topic" [metadata]="topicMetadata"> </RadDataForm>
    </StackLayout>
</GridLayout>

<!-- WITH THIS CODE IT'S OK 
<GridLayout class="page page-content">
        <StackLayout height="100%">
            <RadDataForm [source]="topic" >
                <TKEntityProperty tkDataFormProperty name="title" displayName="Topic Title" index="0"></TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="description" displayName="Topic Description" index="1"></TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="priority" displayName="Topic Priority" index="2">
                        <TKPropertyEditor tkEntityPropertyEditor type="Number"></TKPropertyEditor>
                </TKEntityProperty>
            </RadDataForm>
        </StackLayout>
    </GridLayout>
-->
